<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 탈퇴</title>
<script src="/js/getCookie.js"></script>
<link rel="stylesheet" href="/css/board.css">
</head>
<style>
.dropForm {
  width:60%;
  height:auto;
  margin: auto;
  padding: 20px, 20px;
  text-align: left;
  background-color:#FFFFFF;
  text-align: center;
  border:4px solid gray;
  border-radius: 30px;
}
</style>
<script>
const memberDrop = async () => {
	
	const userid = document.querySelector('#userid');
	const pwd = document.querySelector('#password');
	if(userid.value == '') {
		alert("아이디를 입력하세요."); 
		userid.focus(); 
		return false; 
	}
	else if(pwd.value == '') {
		alert("비밀번호를 입력하세요."); 
		pwd.focus(); 
		return false; 
	}
	
	
	let formData = new FormData(dropForm);
	
	await fetch('/member/memberDrop',{
		method:'POST',
		body: formData
	}).then((response) => response.json())
	.then((data) => {
		if(data.status === 'ID_NOT_FOUND'){
			msg.innerHTML = '아이디가 다릅니다.';
		}
		else if(data.status === 'PASSWORD_NOT_FOUND'){
			msg.innerHTML = '비밀번호가 다릅니다.';

		}
		else if(data.status === 'GOOD'){
			logout();
			alert('회원이 탈퇴되었습니다.');
			document.location.href='/member/login';
		}
	})
	
	
	
	
}


const logout = () => {
	   
	   let authkey = getCookie('authkey');
	   let userid = getCookie('userid');
	   let password = getCookie('password');
	   if(authkey != undefined)
	      document.cookie = 'authkey=' + authkey + ";path=/;max-age=0";
	   if(userid != undefined)
	      document.cookie = 'userid=' + userid + ";path=/;max-age=0";
	   if(password != undefined)
	      document.cookie = 'password=' + password + ";path=/;max-age=0";   
	   
	   document.location.href='/member/memberSessionOut';
	   
	}

	
	
	
	
</script>
<body>
<script>
	const userid = '[[${session.userid}]]';
	if(userid == 0) {
		document.location.href='/';
	}
</script>
<div>
	<img src="/images/logo.png" id="topBanner">
</div>

<div class="main">
	<div class="dropForm">
		<h1>회원 탈퇴</h1>
		<form name="dropForm" id="modifyForm" method="POST">
			<input type="text" id="userid" name="userid" class="input_field" placeholder="아이디를 입력하세요">
			<!-- <p id="msg" style="color:red;text-align:center;"></p>	 -->
			<input type="password" id="password" name="password" class="input_field" placeholder="패스워드를 입력하세요">
			<p id="msg" style="color:red;text-align:center;"></p>
			
			<input type="button" class="btn_write"	 value="회원 탈퇴" onclick="memberDrop()">
			<input type="button" class="btn_cancel"	 value="취소" onclick="history.back()">	
		</form>	
	</div>
</div>

</body>
</html>