<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 관리</title>
<link rel="stylesheet" href="/css/board.css">
<style>
body{
	margin-top: 100px;
	background-color:#EFF5FB;
}
</style>
</head>
<script>

const boardSearch = () => {
	const keyword = document.querySelector('#keyword');
	document.location.href='/master/sysBoard?page=1&keyword=' + keyword.value;
}


const boardPress = () => {
	if(event.keyCode == 13) boardSearch();
}

const deleteBoard = async (seqno) => {
	if(confirm('관리자 권한으로 게시물을 삭제하시겠습니까?') == true){
		await fetch('/master/sysBoard?seqno='+seqno,{
			method:'POST'
		}).then((response) => response.json())
		.then((data) => {
			if(data.status === 'GOOD'){
				alert('게시글이 삭제되었습니다.');
				document.location.href='/master/sysBoard';
			}else{
				alert('시스템 장애로 실패하였습니다. else');
			}
		}).catch((error) => {alert('시스템 장애로 실패하였습니다. catch')})
	}
	else {
		return false;
	}
	
}


</script>
<body>
<div class="main">
        <img src="/images/logo.png" id="topBanner"><br>
        <h1 style="text-align: center;"> < 게시물 관리 > </h1>
        <span><h2>총 게시물 수는 [[${totalCount}]] 개 입니다.</h2></span>
        
        <p style="color:red">제목을 클릭 시, 해당 게시글의 정보를 볼 수 있습니다.</p>
        
        <div class="bottom_menu">
        	<a href="/master/sysManager">시스템 관리 홈</a>&nbsp;&nbsp;
          	<a href="/master/sysBoard">전체 보기</a>&nbsp;&nbsp;
        </div>
        <br>
        <input type="text" name="keyword" id="keyword" 
         		style="width:35%;height:30px;border:2px solid #168;font-size: 16px"
         		placeholder="검색할 회원 이름 및 아이디를 입력하세요." onkeydown="boardPress()">
        <input type="button" value="검색" 
             style="width:5%;height:30px;background:#158;color:white;font-weight:bold;cursor:pointer;"
             	onclick="boardSearch()">		
		 <br><br>
        <table class="InfoTableMaster">
        
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>삭제</th>
            </tr>
         <th:block th:if="${list != null}">     
	            <tr th:each="list,index:${list}" 
	            	onMouseover="this.style.background='#46D2D2'" 
	            	onMouseout="this.style.background='none'">
	                <td th:text="${totalElementByMember-(page-1)*postNum - index.count +1} "></td>
	                <td style="text-align: left;">
	                	<a th:href="@{'/board/view?seqno=' + ${list.seqno} + '&page=' + 
	                			${page} + '&keyword=' + ${keyword} }" 
	                   		onMouseover="this.style.textDecoration='underline'" 
	                   		onMouseout="this.style.textDecoration='none'">
	                   		<span th:text="${list.title}"></span>
	                   	</a>
	                </td>
	                <td th:text="${list.writer}"></td>
	                <td th:text="${list.regdate}"></td>	                	
	                <td th:text="${list.hitno}"></td>
	                <td style="text-align:center;">
	                	<input type="button" class="bottom_input_select" value="삭제" th:onclick="deleteBoard([[${list.seqno}]])">
	                </td>
	            </tr>
			</th:block>
			<th:block th:if="${list == null or #lists.isEmpty(list)}">
				<td colspan="6"> 등록된 게시물이 없습니다. </td>
			</th:block>
        </table>  
        <br>
		  <div>[(${pageList})]</div>
		  <br>
        <span th:if="${not #strings.isEmpty(keyword)}">
        	<h4 style="color:red">이름 또는 게시물에 '[[${keyword}]]'이/가 들어간 결과는 총 [[${totalElementByMember}]] 개 입니다.</h4>
		</span><br>

    </div>
</body>
</html>