<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 정보 보기</title>
<link rel="stylesheet" href="/css/board.css">
</head>
<style>
body{
	margin-top: 100px;
	background-color:#EFF5FB;
}
</style>
<script>

const memberSearch = () => {
	const keyword = document.querySelector('#keyword');
	document.location.href='/master/sysMember?page=1&keyword=' + keyword.value;
}


const memberPress = () => {
	if(event.keyCode == 13) memberSearch();
}

</script>
<body>
<div class="main">
        <img src="/images/logo.png" id="topBanner"><br>
        <h1 style="text-align: center;"> < 회원 목록 > </h1>
        <span><h1>총 회원 수는 [[${totalElement}]] 명 입니다.</h1></span>
	        
        <div class="bottom_menu">
        	<a href="/master/sysManager">시스템 관리 홈</a>&nbsp;&nbsp;
        	<a href="/master/sysMember">전체보기</a>&nbsp;&nbsp;
        </div>
        <p style="color:red">아이디를 클릭 시, 해당 회원의 정보를 볼 수 있습니다.</p><br>
        <input type="text" name="keyword" id="keyword" 
         		style="width:35%;height:30px;border:2px solid #168;font-size: 16px"
         		placeholder="검색할 회원 이름 및 아이디를 입력하세요." onkeydown="memberPress()">
        <input type="button" value="검색" 
             style="width:5%;height:30px;background:#158;color:white;font-weight:bold;cursor:pointer;"
             	onclick="memberSearch()">		
		 <br><br>
        <table class="InfoTableMaster">
        
            <tr>
                <th>번호</th>
                <th>아이디</th>
                <th>이름</th>
                <th>등록일자</th>
                <th>전화번호</th>
            </tr>
          <th:block th:if="${member != null}">     
	            <tr th:each="member,index:${member}" 
	            	onMouseover="this.style.background='#46D2D2'" 
	            	onMouseout="this.style.background='none'">
	            	<td th:text="${member.seq}"></td>
	                <!-- <td th:text="${totalElement-(page-1)*postNum - index.count +1} "></td>-->
	                <td style="text-align: center;">
	                	<a th:href="@{'/member/memberInfo?userid=' + ${member.userid} + '&page=' + 
	                			${page} + '&keyword=' + ${keyword} }" 
	                   		onMouseover="this.style.textDecoration='underline'" 
	                   		onMouseout="this.style.textDecoration='none'">
	                   		<span th:text="${member.userid}"></span>
	                   	</a>
	                </td> 
	                
	                <!-- <td th:text="${member.userid}"></td> -->
	                <td th:text="${member.username}"></td>	  
	                <td th:text="${member.regdate}"></td>	                 	
	                <td th:text="${member.telno}"></td>
	            </tr>
			</th:block>
			<th:block th:if="${member == null or #lists.isEmpty(member)}">
				<td colspan="5">회원이 없습니다.</td>
			</th:block>
        </table>  
        <br>
		  <div>[(${pageList})]</div>
		  <br>
		<span th:if="${not #strings.isEmpty(keyword)}">
        	<h4 style="color:red">이름 또는 아이디에 '[[${keyword}]]'이/가 들어간 회원은 총 [[${totalElementSearch}]]명 입니다.</h4>
		</span><br>
    </div>
</body>
</html>