<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>
<link rel="stylesheet" href="/css/board.css">

<style>
body{
	margin-top: 100px;
	background-color:#EFF5FB;
}
.menubar{
	width:100%;
	height:auto;
	background-color:#168;
	position:fixed;
	top:0;
	left:0;
	right:0;
	text-align:center;
}

.menubar a:link, a:visited, a:active{
	color: white;
	font-weight:bold;
}

.menubar a{
	display:block;
	text-decoration:none; 
	
}

.menubar .main_menu > li {
	float: left;
	width: 20%;
	height: 100%;
	line-height: 50px;
	list-style:none;
	font-weight:bold;
	position:relative;
	margin:0px;
}

.menubar .main_menu > li > a:hover {
	background-color : #f0f6f9;
	color : #168b;
	font-weight:bold;
}


.menubar .main_menu .sub_menu{
	list-style:none;
	display:none;
	position: absolute;
	padding-left: 0;
	padding-right: 0;
	background-color: #c7d1db;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menubar .main_menu>li:hover .sub_menu{
	display: block;
}
.sub_menu a{
	color: white;
	padding: 8px;
	text-decoration: none;
	display: block;
}
.sub_menu a:hover{
	background-color: #4675a4;
	color: black;
}

</style>

</head>
<body>

<div class="menubar">
	<ul class="main_menu">
		<li><a href="/board/list?page=1">홈으로</a></li>
		<li><a href="#" onclick="loadSysStats()">총 통계</a>
			<ul class="sub_menu">
				<li><a href="#" onclick="statsMember('')"> 회원 통계 </a></li>
				<li><a href="#" onclick="statsBoard('')"> 게시물 통계 </a></li> 	<!-- 회원 별 게시물 , 총 게시물 수.-->
				<li><a href="#" onclick="statsReply('')"> 댓글 통계 </a></li>
			</ul></li>
		
		<li><a href="#" onclick="loadFileDelete()">첨부파일 삭제</a></li>
		<li><a href="/master/sysBoard">게시물 관리</a>	
			<ul class="sub_menu">
				<li><a href="/master/sysMember">회원 관리</a></li>
				<li><a href="/master/sysReply">댓글 관리</a></li>
				<li><a href="#" onclick="loadSysBoardCss()" >페이지 관리</a></li>
			</ul></li>
		<li><a href="#" onclick="loadSystemInfo()">시스템 정보</a></li>
	</ul>
	
    <!-- 이 부분에 sysMember.html 파일의 내용이 표시됩니다. -->
</div>

<div id="content-container">

<script>


//***********************사용자 통계******************************

function loadSysStats() {
    // Fetch API를 사용하여 sysMember.html 파일 가져오기
    fetch('/master/sysStats')
        .then(response => response.text())
        .then(data => {
            // 가져온 HTML 내용을 삽입할 요소 선택
            const contentContainer = document.getElementById('content-container');
            
            // 삽입
            contentContainer.innerHTML = data;
        })
        .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));
}

//***********************게시물 통계******************************

function statsBoard(keyword){
	// Fetch API를 사용하여 sysMember.html 파일 가져오기
    fetch('/master/statsBoard?keyword='+keyword)
        .then(response => response.text())
        .then(data => {
            // 가져온 HTML 내용을 삽입할 요소 선택
            const contentContainer = document.getElementById('content-container');
            
            // 삽입
            contentContainer.innerHTML = data;
        })
        .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));
	
}
const boardSearch = () => {
	const keyword = document.querySelector('#keyword');
	statsBoard(keyword.value);
	//document.location.href='/master/sysMember?page=1&keyword=' + keyword.value;
}


const boardPress = () => {
	if(event.keyCode == 13) boardSearch();
}


//***********************댓글 통계******************************
function statsReply(keyword){
	// Fetch API를 사용하여 sysMember.html 파일 가져오기
    fetch('/master/statsReply?keyword='+keyword)
        .then(response => response.text())
        .then(data => {
            // 가져온 HTML 내용을 삽입할 요소 선택
            const contentContainer = document.getElementById('content-container');
            
            // 삽입
            contentContainer.innerHTML = data;
        })
        .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));
	
}
const replySearch = () => {
	const keyword = document.querySelector('#keyword');
	statsReply(keyword.value);
	//document.location.href='/master/sysMember?page=1&keyword=' + keyword.value;
}


const replyPress = () => {
	if(event.keyCode == 13) replySearch();
}

//***********************회원 통계******************************
function statsMember(keyword){
	// Fetch API를 사용하여 sysMember.html 파일 가져오기
    fetch('/master/statsMember?keyword='+keyword)
        .then(response => response.text())
        .then(data => {
            // 가져온 HTML 내용을 삽입할 요소 선택
            const contentContainer = document.getElementById('content-container');
            
            // 삽입
            contentContainer.innerHTML = data;
        })
        .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));
	
}

const memberSearch = () => {
	const keyword = document.querySelector('#keyword');
	statsMember(keyword.value);
	//document.location.href='/master/sysMember?page=1&keyword=' + keyword.value;
}


const memberPress = () => {
	if(event.keyCode == 13) memberSearch();
}

//전체 조회
/* const goAll = () => {
	statsMember
}
 */

//---------------------------------------------------------------

//파일 지우기 버튼
const loadFileDelete = () => {
	
	fetch('/master/fileDelete')
    .then(response => response.text())
    .then(data => {
        // 가져온 HTML 내용을 삽입할 요소 선택
        const contentContainer = document.getElementById('content-container');
        
        // 삽입
        contentContainer.innerHTML = data;
    })
    .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));

}



//게시판 관리 열기
const loadSysBoardCss = () => {
	
	fetch('/master/sysBoardCss')
    .then(response => response.text())
    .then(data => {
        // 가져온 HTML 내용을 삽입할 요소 선택
        const contentContainer = document.getElementById('content-container');
        
        // 삽입
        contentContainer.innerHTML = data;
    })
    .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));

}

const updateBoardSettings = async (postNumNow) => {
    let postNum = document.querySelector('#postNum');
    let formData = new FormData(postNumChange);

    // 서버에서 이미 초기화된 postNumNow 값을 직접 사용
   
	console.log(postNumNow);
	console.log(postNum.value);
    if (postNumNow === postNum.value) {
        alert('현재 설정값과 같습니다.');
    } else {
        // 나머지 코드는 그대로 유지
        await fetch(('/master/sysBoardCss'), {
            method: 'POST',
            body: formData
        }).then((response) => response.json())
            .then((data) => {
                if (data.status === 'GOOD') {
                    alert('한 페이지에 보일 게시물 수가 ' + data.page + '로 변경되었습니다.');
                }
            })
    }
}




//----------------------------------------------------------------------
//시스템 정보 보기
const loadSystemInfo = () => {
	 fetch('/master/systemInfo')
     .then(response => response.text())
     .then(data => {
         // 가져온 HTML 내용을 삽입할 요소 선택
         const contentContainer = document.getElementById('content-container');
         
         // 삽입
         contentContainer.innerHTML = data;
     })
     .catch(error => console.error('파일을 불러오는 도중 오류 발생:', error));
	
	
}
//시스템 모드에서 현재 시간 실시간 업데이트
setInterval(function() {
    var currentTimeElement = "";
    currentTimeElement = document.getElementById("currentTime");
    var now = new Date();
    var formattedTime = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + ' ' +
                        now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
    if(currentTimeElement !== null)
    	currentTimeElement.innerText = formattedTime;
}, 1000);






</script>
	
</div>
</body>
</html>