<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 통계</title>
<link rel="stylesheet" href="/css/board.css">
</head>
<style>
.boardView {
  text-align:center;
}
body{
	margin-top: 100px;
	background-color:#EFF5FB;
}

</style>
<body>
<div class="main">
		<img src="/images/logo.png" id="topBanner"><br>
		<h1 style="text-align: center;"> < 종합 통계 > </h1>
		<br>
		<!-- <div class="boardView">
			<div style="width:70%;height:auto;margin:auto;padding:20px;border:none;">
				<img th:src="@{'/profile/' + ${memberInfo.stored_filename}}" style="display:block;width:80%;height:auto;margin:auto">
			</div>
			<div class="field">총 회원수 : [[${allMember}]]</div>
			<div class="field">총 게시글 수 : [[${allBoard}]]</div>
			<div class="field">총 댓글 수 : [[${allReply}]]</div>
			
		</div> -->
		<br>
		 <table class="InfoTableMaster">
        
            <tr>
                <th>총 회원 수</th>
                <th>총 게시글 수</th>
                <th>총 댓글 수</th>
            </tr>
           	<td th:text="${allMember}"></td>
               <td th:text="${allBoard}"></td>
               <td th:text="${allReply}"></td>	 
           </tr>
	
	
		
</div>
</body>
</html>